.title {
  margin: 0 0 5px 0;
}

.description {
  margin: 0 0 20px 0;
}

.cart {
  padding: 20px;
}

.pair {
  margin: 0 0 15px 0;
}

.key {
  margin: 0 0 5px 0;
}

.value {
  margin: 0;
}

.editButton {
  margin-right: 10px;
}
