.title {
  margin: 0 0 15px 0;
  font-size: 23px;
  font-weight: 400;
}

.description {
  margin: 0 0 20px 0;
}

.cart {
  padding: 15px;
}

.pair {
  display: flex;
  align-items: center;
  margin: 0 0 17px 0;
}

.key {
  margin: 0 5px 2px 0;
  font-size: 16px;
  font-weight: 500;
}

.value {
  margin: 0;
}

.editButton {
  margin-right: 10px;
}
