.wrapper {
  position: relative;
  padding: 20px 0;
}

.addButton {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 145px;
}

.list {
  > div {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
