.wrapper {
  max-width: 500px;
  padding: 20px 0;
}

.pair {
  font-size: 21px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }
}

.value {
  margin-right: 5px;
}
