//.layout {
//}
//
//.header {
//}

.contentWrapper {
  display: flex;
}

//.sidebar {
//}

.body {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

//.footer {
//}

.bottomFixedFooter {
  position: absolute;
  left: 0;
  bottom: 0;
}
