.form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.buttonContainer {
  margin-bottom: 10px !important;
  text-align: right;
}
